.container {
  position: absolute;
  top: 64px;
  bottom: 50px;
  left: 10px;
  right: 10px;
  overflow-y: scroll;
}

.marketTokenInfo {
  background: #131313;
  display: flex;
  padding: 15px;
  justify-content: space-between;
  width: 100%;
}

.marketTokenValue {
  background: #131313;
  padding: 15px;
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: wrap;
  gap: 25px;
}

.listTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 10px;
  .title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.listInfo {
  border-bottom-left-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.title {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: rgba(255,255,255,0.8);
}

.value {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 29px;
}